USE [t2tipafecf]
GO
/****** Object:  Schema [m2ss]    Script Date: 15/04/2017 18:33:36 ******/
CREATE SCHEMA [m2ss]
GO
/****** Object:  Table [dbo].[banco]    Script Date: 15/04/2017 18:33:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[banco](
	[ID] [bigint] IDENTITY(161,1) NOT NULL,
	[CODIGO] [bigint] NULL DEFAULT (NULL),
	[NOME] [varchar](100) NULL DEFAULT (NULL),
	[URL] [varchar](255) NULL DEFAULT (NULL),
 CONSTRAINT [PK_banco_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[cfop]    Script Date: 15/04/2017 18:33:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[cfop](
	[ID] [bigint] IDENTITY(542,1) NOT NULL,
	[CFOP] [bigint] NULL DEFAULT (NULL),
	[DESCRICAO] [varchar](max) NULL,
	[APLICACAO] [varchar](max) NULL,
 CONSTRAINT [PK_cfop_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[cliente]    Script Date: 15/04/2017 18:33:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[cliente](
	[ID] [bigint] IDENTITY(3586,1) NOT NULL,
	[ID_SITUACAO_CLI] [bigint] NOT NULL,
	[NOME] [varchar](150) NULL DEFAULT (NULL),
	[CPF_CNPJ] [varchar](14) NULL DEFAULT (NULL),
	[RG] [varchar](20) NULL DEFAULT (NULL),
	[ORGAO_RG] [varchar](10) NULL DEFAULT (NULL),
	[INSCRICAO_ESTADUAL] [varchar](30) NULL DEFAULT (NULL),
	[INSCRICAO_MUNICIPAL] [varchar](30) NULL DEFAULT (NULL),
	[DESDE] [date] NULL DEFAULT (NULL),
	[TIPO_PESSOA] [char](1) NULL DEFAULT (NULL),
	[EXCLUIDO] [char](1) NULL DEFAULT (NULL),
	[DATA_CADASTRO] [date] NULL DEFAULT (NULL),
 CONSTRAINT [PK_cliente_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[contato]    Script Date: 15/04/2017 18:33:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[contato](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ID_CLIENTE] [bigint] NOT NULL,
	[NOME] [varchar](100) NULL,
 CONSTRAINT [PK_contato_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[contato_email]    Script Date: 15/04/2017 18:33:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[contato_email](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ID_CONTATO] [bigint] NOT NULL,
	[ID_TIPO_EMAIL] [bigint] NOT NULL,
	[EMAIL] [varchar](100) NULL,
 CONSTRAINT [PK_contato_email_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[contato_telefone]    Script Date: 15/04/2017 18:33:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[contato_telefone](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ID_CONTATO] [bigint] NOT NULL,
	[ID_TIPO_TELEFONE] [bigint] NOT NULL,
	[TELEFONE] [varchar](10) NULL,
 CONSTRAINT [PK_contato_telefone_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ecf_caixa]    Script Date: 15/04/2017 18:33:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ecf_caixa](
	[ID] [bigint] IDENTITY(2,1) NOT NULL,
	[NOME] [varchar](30) NULL DEFAULT (NULL),
	[DATA_CADASTRO] [date] NULL DEFAULT (NULL),
 CONSTRAINT [PK_ecf_caixa_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ecf_cheque_cliente]    Script Date: 15/04/2017 18:33:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ecf_cheque_cliente](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ID_BANCO] [bigint] NOT NULL,
	[ID_CLIENTE] [bigint] NOT NULL,
	[NUMERO_CHEQUE] [bigint] NULL,
	[DATA_CHEQUE] [date] NULL,
	[VALOR_CHEQUE] [numeric](15, 2) NULL,
	[OBSERVACOES] [varchar](max) NULL,
 CONSTRAINT [PK_ecf_cheque_cliente_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ecf_configuracao]    Script Date: 15/04/2017 18:33:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ecf_configuracao](
	[ID] [bigint] IDENTITY(3,1) NOT NULL,
	[ID_ECF_IMPRESSORA] [int] NULL DEFAULT (NULL),
	[ID_ECF_RESOLUCAO] [bigint] NOT NULL,
	[ID_ECF_CAIXA] [bigint] NOT NULL,
	[ID_ECF_EMPRESA] [bigint] NOT NULL,
	[MENSAGEM_CUPOM] [varchar](250) NULL DEFAULT (NULL),
	[PORTA_ECF] [char](10) NULL DEFAULT (NULL),
	[PORTA_PINPAD] [char](10) NULL DEFAULT (NULL),
	[PORTA_BALANCA] [char](10) NULL DEFAULT (NULL),
	[IP_SERVIDOR] [varchar](15) NULL DEFAULT (NULL),
	[IP_SITEF] [varchar](15) NULL DEFAULT (NULL),
	[TIPO_TEF] [char](2) NULL DEFAULT (NULL),
	[TITULO_TELA_CAIXA] [varchar](100) NULL DEFAULT (NULL),
	[CAMINHO_IMAGENS_PRODUTOS] [varchar](250) NULL DEFAULT (NULL),
	[CAMINHO_IMAGENS_MARKETING] [varchar](250) NULL DEFAULT (NULL),
	[CAMINHO_IMAGENS_LAYOUT] [varchar](250) NULL DEFAULT (NULL),
	[COR_JANELAS_INTERNAS] [varchar](20) NULL DEFAULT (NULL),
	[MARKETING_ATIVO] [char](1) NULL DEFAULT (NULL),
	[CFOP_ECF] [int] NULL DEFAULT (NULL),
	[CFOP_NF2] [int] NULL DEFAULT (NULL),
	[TIMEOUT_ECF] [int] NULL DEFAULT (NULL),
	[INTERVALO_ECF] [int] NULL DEFAULT (NULL),
	[DESCRICAO_SUPRIMENTO] [varchar](20) NULL DEFAULT (NULL),
	[DESCRICAO_SANGRIA] [varchar](20) NULL DEFAULT (NULL),
	[TEF_TIPO_GP] [int] NULL DEFAULT (NULL),
	[TEF_TEMPO_ESPERA] [int] NULL DEFAULT (NULL),
	[TEF_ESPERA_STS] [int] NULL DEFAULT (NULL),
	[TEF_NUMERO_VIAS] [int] NULL DEFAULT (NULL),
	[INDICE_GERENCIAL_DAV] [int] NULL DEFAULT (NULL),
	[SINCRONIZADO] [char](1) NULL DEFAULT (NULL),
 CONSTRAINT [PK_ecf_configuracao_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ecf_contador]    Script Date: 15/04/2017 18:33:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ecf_contador](
	[ID] [bigint] IDENTITY(2,1) NOT NULL,
	[ID_ECF_EMPRESA] [bigint] NOT NULL,
	[CPF] [varchar](11) NULL DEFAULT (NULL),
	[CNPJ] [varchar](14) NULL DEFAULT (NULL),
	[NOME] [varchar](100) NULL DEFAULT (NULL),
	[INSCRICAO_CRC] [varchar](15) NULL DEFAULT (NULL),
	[FONE] [varchar](15) NULL DEFAULT (NULL),
	[FAX] [varchar](15) NULL DEFAULT (NULL),
	[LOGRADOURO] [varchar](100) NULL DEFAULT (NULL),
	[NUMERO] [bigint] NULL DEFAULT (NULL),
	[COMPLEMENTO] [varchar](100) NULL DEFAULT (NULL),
	[BAIRRO] [varchar](30) NULL DEFAULT (NULL),
	[CEP] [varchar](8) NULL DEFAULT (NULL),
	[CODIGO_MUNICIPIO] [bigint] NULL DEFAULT (NULL),
	[UF] [char](2) NULL DEFAULT (NULL),
	[EMAIL] [varchar](250) NULL DEFAULT (NULL),
 CONSTRAINT [PK_ecf_contador_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ecf_dav_cabecalho]    Script Date: 15/04/2017 18:33:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ecf_dav_cabecalho](
	[ID] [bigint] IDENTITY(45,1) NOT NULL,
	[CCF] [bigint] NULL DEFAULT (NULL),
	[COO] [bigint] NULL DEFAULT (NULL),
	[NOME_DESTINATARIO] [varchar](100) NULL DEFAULT (NULL),
	[CPF_CNPJ_DESTINATARIO] [varchar](14) NULL DEFAULT (NULL),
	[DATA_HORA_EMISSAO] [datetime] NULL DEFAULT (NULL),
	[SITUACAO] [char](1) NULL DEFAULT (NULL),
	[VALOR] [numeric](15, 2) NULL DEFAULT (NULL),
 CONSTRAINT [PK_ecf_dav_cabecalho_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ecf_dav_detalhe]    Script Date: 15/04/2017 18:33:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ecf_dav_detalhe](
	[ID] [bigint] IDENTITY(95,1) NOT NULL,
	[ID_PRODUTO] [bigint] NOT NULL,
	[ID_ECF_DAV] [bigint] NOT NULL,
	[QUANTIDADE] [numeric](15, 3) NULL DEFAULT (NULL),
	[VALOR_UNITARIO] [numeric](15, 2) NULL DEFAULT (NULL),
	[VALOR_TOTAL] [numeric](15, 2) NULL DEFAULT (NULL),
 CONSTRAINT [PK_ecf_dav_detalhe_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ecf_documentos_emitidos]    Script Date: 15/04/2017 18:33:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ecf_documentos_emitidos](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ID_ECF_MOVIMENTO] [bigint] NOT NULL,
	[DATA_HORA_EMISSAO] [datetime] NULL,
	[TIPO] [char](2) NULL,
	[COO] [bigint] NULL,
	[SINCRONIZADO] [char](1) NULL,
 CONSTRAINT [PK_ecf_documentos_emitidos_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ecf_empresa]    Script Date: 15/04/2017 18:33:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ecf_empresa](
	[ID] [bigint] IDENTITY(2,1) NOT NULL,
	[ID_EMPRESA] [bigint] NOT NULL,
	[RAZAO_SOCIAL] [varchar](150) NULL DEFAULT (NULL),
	[NOME_FANTASIA] [varchar](150) NULL DEFAULT (NULL),
	[CNPJ] [varchar](14) NULL DEFAULT (NULL),
	[INSCRICAO_ESTADUAL] [varchar](30) NULL DEFAULT (NULL),
	[INSCRICAO_MUNICIPAL] [varchar](30) NULL DEFAULT (NULL),
	[MATRIZ_FILIAL] [char](1) NULL DEFAULT (NULL),
	[DATA_CADASTRO] [date] NULL DEFAULT (NULL),
	[ENDERECO] [varchar](100) NULL DEFAULT (NULL),
	[COMPLEMENTO] [varchar](100) NULL DEFAULT (NULL),
	[BAIRRO] [varchar](50) NULL DEFAULT (NULL),
	[CIDADE] [varchar](50) NULL DEFAULT (NULL),
	[CODIGO_MUNICIPIO_IBGE] [int] NULL DEFAULT (NULL),
	[UF] [char](2) NULL DEFAULT (NULL),
	[CEP] [varchar](8) NULL DEFAULT (NULL),
	[FONE1] [varchar](10) NULL DEFAULT (NULL),
	[FONE2] [varchar](10) NULL DEFAULT (NULL),
	[CONTATO] [varchar](30) NULL DEFAULT (NULL),
 CONSTRAINT [PK_ecf_empresa_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ecf_funcionario]    Script Date: 15/04/2017 18:33:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ecf_funcionario](
	[ID] [bigint] IDENTITY(4,1) NOT NULL,
	[NOME] [varchar](100) NULL DEFAULT (NULL),
	[TELEFONE] [varchar](10) NULL DEFAULT (NULL),
	[CELULAR] [varchar](10) NULL DEFAULT (NULL),
	[EMAIL] [varchar](250) NULL DEFAULT (NULL),
	[COMISSAO_VISTA] [numeric](5, 2) NULL DEFAULT (NULL),
	[COMISSAO_PRAZO] [numeric](5, 2) NULL DEFAULT (NULL),
	[NIVEL_AUTORIZACAO] [char](1) NULL DEFAULT (NULL),
 CONSTRAINT [PK_ecf_funcionario_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ecf_impressora]    Script Date: 15/04/2017 18:33:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ecf_impressora](
	[ID] [bigint] IDENTITY(6,1) NOT NULL,
	[CODIGO] [varchar](10) NULL DEFAULT (NULL),
	[SERIE] [varchar](20) NULL DEFAULT (NULL),
	[IDENTIFICACAO] [varchar](250) NULL DEFAULT (NULL),
	[MC] [char](2) NULL DEFAULT (NULL),
	[MD] [char](2) NULL DEFAULT (NULL),
	[VR] [char](2) NULL DEFAULT (NULL),
	[TIPO] [varchar](7) NULL DEFAULT (NULL),
	[MARCA] [varchar](30) NULL DEFAULT (NULL),
	[MODELO_ACBR] [varchar](30) NULL DEFAULT (NULL),
	[MODELO] [varchar](30) NULL DEFAULT (NULL),
	[VERSAO] [varchar](30) NULL DEFAULT (NULL),
	[LE] [char](1) NULL DEFAULT (NULL),
	[LEF] [char](1) NULL DEFAULT (NULL),
	[MFD] [char](1) NULL DEFAULT (NULL),
	[CRENAMFD] [char](1) NULL DEFAULT (NULL),
	[DOCTO] [varchar](60) NULL DEFAULT (NULL),
 CONSTRAINT [PK_ecf_impressora_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ecf_movimento]    Script Date: 15/04/2017 18:33:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ecf_movimento](
	[ID] [bigint] IDENTITY(3,1) NOT NULL,
	[ID_ECF_TURNO] [bigint] NOT NULL,
	[ID_ECF_IMPRESSORA] [bigint] NOT NULL,
	[ID_ECF_OPERADOR] [bigint] NOT NULL,
	[ID_ECF_CAIXA] [bigint] NOT NULL,
	[ID_GERENTE_SUPERVISOR] [int] NULL DEFAULT (NULL),
	[DATA_HORA_ABERTURA] [datetime] NULL DEFAULT (NULL),
	[DATA_HORA_FECHAMENTO] [datetime] NULL DEFAULT (NULL),
	[TOTAL_SUPRIMENTO] [numeric](15, 2) NULL DEFAULT (NULL),
	[TOTAL_SANGRIA] [numeric](15, 2) NULL DEFAULT (NULL),
	[TOTAL_NAO_FISCAL] [numeric](15, 2) NULL DEFAULT (NULL),
	[TOTAL_VENDA] [numeric](15, 2) NULL DEFAULT (NULL),
	[TOTAL_DESCONTO] [numeric](15, 2) NULL DEFAULT (NULL),
	[TOTAL_ACRESCIMO] [numeric](15, 2) NULL DEFAULT (NULL),
	[TOTAL_FINAL] [numeric](15, 2) NULL DEFAULT (NULL),
	[TOTAL_RECEBIDO] [numeric](15, 2) NULL DEFAULT (NULL),
	[TOTAL_TROCO] [numeric](15, 2) NULL DEFAULT (NULL),
	[TOTAL_CANCELADO] [numeric](15, 2) NULL DEFAULT (NULL),
	[STATUS_MOVIMENTO] [char](1) NOT NULL,
	[SINCRONIZADO] [char](1) NULL DEFAULT (NULL),
 CONSTRAINT [PK_ecf_movimento_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ecf_operador]    Script Date: 15/04/2017 18:33:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ecf_operador](
	[ID] [bigint] IDENTITY(4,1) NOT NULL,
	[ID_ECF_FUNCIONARIO] [bigint] NOT NULL,
	[LOGIN] [varchar](20) NULL DEFAULT (NULL),
	[SENHA] [varchar](20) NULL DEFAULT (NULL),
 CONSTRAINT [PK_ecf_operador_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ecf_posicao_componentes]    Script Date: 15/04/2017 18:33:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ecf_posicao_componentes](
	[ID] [bigint] IDENTITY(114,1) NOT NULL,
	[ID_ECF_RESOLUCAO] [bigint] NOT NULL,
	[NOME] [varchar](100) NULL DEFAULT (NULL),
	[ALTURA] [bigint] NULL DEFAULT (NULL),
	[LARGURA] [bigint] NULL DEFAULT (NULL),
	[TOPO] [bigint] NULL DEFAULT (NULL),
	[ESQUERDA] [bigint] NULL DEFAULT (NULL),
	[TAMANHO_FONTE] [bigint] NULL DEFAULT ((0)),
	[TEXTO] [varchar](250) NULL DEFAULT (NULL),
 CONSTRAINT [PK_ecf_posicao_componentes_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ecf_pre_venda_cabecalho]    Script Date: 15/04/2017 18:33:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ecf_pre_venda_cabecalho](
	[ID] [bigint] IDENTITY(22,1) NOT NULL,
	[DATA_HORA_PV] [datetime] NULL DEFAULT (NULL),
	[SITUACAO] [char](1) NULL DEFAULT (NULL),
	[CCF] [bigint] NULL DEFAULT (NULL),
	[VALOR] [numeric](15, 2) NULL DEFAULT (NULL),
 CONSTRAINT [PK_ecf_pre_venda_cabecalho_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ecf_pre_venda_detalhe]    Script Date: 15/04/2017 18:33:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ecf_pre_venda_detalhe](
	[ID] [bigint] IDENTITY(69,1) NOT NULL,
	[ID_PRODUTO] [bigint] NOT NULL,
	[ID_ECF_PRE_VENDA_CABECALHO] [bigint] NOT NULL,
	[QUANTIDADE] [numeric](15, 3) NULL DEFAULT (NULL),
	[VALOR_UNITARIO] [numeric](15, 2) NULL DEFAULT (NULL),
	[VALOR_TOTAL] [numeric](15, 2) NULL DEFAULT (NULL),
 CONSTRAINT [PK_ecf_pre_venda_detalhe_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ecf_recebimento_nao_fiscal]    Script Date: 15/04/2017 18:33:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ecf_recebimento_nao_fiscal](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ID_ECF_MOVIMENTO] [bigint] NOT NULL,
	[DATA_RECBTO] [date] NULL,
	[DESCRICAO] [varchar](50) NULL,
	[VALOR] [numeric](15, 2) NULL,
 CONSTRAINT [PK_ecf_recebimento_nao_fiscal_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ecf_resolucao]    Script Date: 15/04/2017 18:33:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ecf_resolucao](
	[ID] [bigint] IDENTITY(3,1) NOT NULL,
	[RESOLUCAO_TELA] [varchar](20) NULL DEFAULT (NULL),
	[LARGURA] [bigint] NULL DEFAULT (NULL),
	[ALTURA] [bigint] NULL DEFAULT (NULL),
	[IMAGEM_TELA] [varchar](50) NULL DEFAULT (NULL),
 CONSTRAINT [PK_ecf_resolucao_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ecf_sangria]    Script Date: 15/04/2017 18:33:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ecf_sangria](
	[ID] [bigint] IDENTITY(18,1) NOT NULL,
	[ID_ECF_MOVIMENTO] [bigint] NOT NULL,
	[DATA_SANGRIA] [date] NULL DEFAULT (NULL),
	[VALOR] [numeric](11, 2) NULL DEFAULT (NULL),
 CONSTRAINT [PK_ecf_sangria_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ecf_suprimento]    Script Date: 15/04/2017 18:33:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ecf_suprimento](
	[ID] [bigint] IDENTITY(12,1) NOT NULL,
	[ID_ECF_MOVIMENTO] [bigint] NOT NULL,
	[DATA_SUPRIMENTO] [date] NULL DEFAULT (NULL),
	[VALOR] [numeric](15, 2) NULL DEFAULT (NULL),
 CONSTRAINT [PK_ecf_suprimento_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ecf_tipo_pagamento]    Script Date: 15/04/2017 18:33:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ecf_tipo_pagamento](
	[ID] [bigint] IDENTITY(8,1) NOT NULL,
	[CODIGO] [char](3) NULL DEFAULT (NULL),
	[DESCRICAO] [varchar](20) NULL DEFAULT (NULL),
	[TEF] [char](1) NULL DEFAULT (NULL),
	[IMPRIME_VINCULADO] [char](1) NULL DEFAULT (NULL),
 CONSTRAINT [PK_ecf_tipo_pagamento_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ecf_total_tipo_pgto]    Script Date: 15/04/2017 18:33:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ecf_total_tipo_pgto](
	[ID] [bigint] IDENTITY(376,1) NOT NULL,
	[ID_ECF_VENDA_CABECALHO] [bigint] NOT NULL,
	[ID_ECF_TIPO_PAGAMENTO] [bigint] NOT NULL,
	[VALOR] [numeric](11, 2) NULL DEFAULT (NULL),
	[NSU] [varchar](30) NULL DEFAULT (NULL),
 CONSTRAINT [PK_ecf_total_tipo_pgto_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ecf_tributo_produto]    Script Date: 15/04/2017 18:33:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ecf_tributo_produto](
	[ID] [bigint] IDENTITY(11,1) NOT NULL,
	[DESCRICAO] [varchar](50) NULL DEFAULT (NULL),
	[TAXA_IPI] [numeric](5, 2) NULL DEFAULT (NULL),
	[TAXA_ISSQN] [numeric](5, 2) NULL DEFAULT (NULL),
	[TAXA_PIS] [numeric](5, 2) NULL DEFAULT (NULL),
	[TAXA_COFINS] [numeric](5, 2) NULL DEFAULT (NULL),
	[TAXA_ICMS] [numeric](5, 2) NULL DEFAULT (NULL),
	[ECF_ICMS] [varchar](5) NULL DEFAULT (NULL),
	[CST] [char](3) NULL DEFAULT (NULL),
	[TOTALIZADOR_PARCIAL] [varchar](10) NULL DEFAULT (NULL),
 CONSTRAINT [PK_ecf_tributo_produto_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ecf_turno]    Script Date: 15/04/2017 18:33:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ecf_turno](
	[ID] [bigint] IDENTITY(6,1) NOT NULL,
	[DESCRICAO] [varchar](10) NULL DEFAULT (NULL),
	[HORA_INICIO] [varchar](8) NULL DEFAULT (NULL),
	[HORA_FIM] [varchar](8) NULL DEFAULT (NULL),
 CONSTRAINT [PK_ecf_turno_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ecf_venda_cabecalho]    Script Date: 15/04/2017 18:33:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ecf_venda_cabecalho](
	[ID] [bigint] IDENTITY(536,1) NOT NULL,
	[ID_CFOP] [bigint] NULL DEFAULT (NULL),
	[ID_ECF_DAV] [bigint] NULL DEFAULT (NULL),
	[ID_ECF_PRE_VENDA_CABECALHO] [bigint] NULL DEFAULT (NULL),
	[ID_CLIENTE] [bigint] NULL DEFAULT (NULL),
	[ID_ECF_FUNCIONARIO] [bigint] NULL DEFAULT (NULL),
	[ID_ECF_MOVIMENTO] [bigint] NOT NULL,
	[COO] [bigint] NULL DEFAULT (NULL),
	[CCF] [bigint] NULL DEFAULT (NULL),
	[DATA_HORA_VENDA] [datetime] NULL DEFAULT (NULL),
	[VALOR_VENDA] [numeric](15, 2) NULL DEFAULT (NULL),
	[TAXA_DESCONTO] [numeric](5, 2) NULL DEFAULT (NULL),
	[DESCONTO] [numeric](15, 2) NULL DEFAULT (NULL),
	[TAXA_ACRESCIMO] [numeric](5, 2) NULL DEFAULT (NULL),
	[ACRESCIMO] [numeric](15, 2) NULL DEFAULT (NULL),
	[VALOR_FINAL] [numeric](15, 2) NULL DEFAULT (NULL),
	[VALOR_RECEBIDO] [numeric](15, 2) NULL DEFAULT (NULL),
	[TROCO] [numeric](15, 2) NULL DEFAULT (NULL),
	[VALOR_CANCELADO] [numeric](15, 2) NULL DEFAULT (NULL),
	[SINCRONIZADO] [char](1) NULL DEFAULT (NULL),
	[TOTAL_PRODUTOS] [numeric](15, 2) NULL DEFAULT (NULL),
	[TOTAL_DOCUMENTO] [numeric](15, 2) NULL DEFAULT (NULL),
	[BASE_ICMS] [numeric](15, 2) NULL DEFAULT (NULL),
	[ICMS] [numeric](15, 2) NULL DEFAULT (NULL),
	[ICMS_OUTRAS] [numeric](15, 2) NULL DEFAULT (NULL),
	[ISSQN] [numeric](15, 2) NULL DEFAULT (NULL),
	[PIS] [numeric](15, 2) NULL DEFAULT (NULL),
	[COFINS] [numeric](15, 2) NULL DEFAULT (NULL),
	[ACRESCIMO_ITENS] [numeric](15, 2) NULL DEFAULT (NULL),
	[DESCONTO_ITENS] [numeric](15, 2) NULL DEFAULT (NULL),
	[STATUS_VENDA] [char](1) NULL DEFAULT (NULL),
	[NOME_CLIENTE] [varchar](100) NULL DEFAULT (NULL),
	[CPF_CNPJ_CLIENTE] [varchar](14) NULL DEFAULT (NULL),
 CONSTRAINT [PK_ecf_venda_cabecalho_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ecf_venda_detalhe]    Script Date: 15/04/2017 18:33:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ecf_venda_detalhe](
	[ID] [bigint] IDENTITY(1317,1) NOT NULL,
	[ID_CFOP] [bigint] NOT NULL,
	[ID_ECF_TRIBUTO_PRODUTO] [bigint] NOT NULL,
	[ID_ECF_PRODUTO] [bigint] NOT NULL,
	[ID_ECF_VENDA_CABECALHO] [bigint] NOT NULL,
	[ITEM] [int] NULL DEFAULT (NULL),
	[QUANTIDADE] [numeric](15, 3) NULL DEFAULT (NULL),
	[VALOR_UNITARIO] [numeric](15, 2) NULL DEFAULT (NULL),
	[VALOR_TOTAL] [numeric](15, 2) NULL DEFAULT (NULL),
	[TOTAL_ITEM] [numeric](15, 2) NULL DEFAULT (NULL),
	[BASE_ICMS] [numeric](15, 2) NULL DEFAULT (NULL),
	[TAXA_ICMS] [numeric](5, 2) NULL DEFAULT (NULL),
	[ICMS] [numeric](15, 2) NULL DEFAULT (NULL),
	[TAXA_DESCONTO] [numeric](5, 2) NULL DEFAULT (NULL),
	[DESCONTO] [numeric](15, 2) NULL DEFAULT (NULL),
	[TAXA_ISSQN] [numeric](5, 2) NULL DEFAULT (NULL),
	[ISSQN] [numeric](15, 2) NULL DEFAULT (NULL),
	[TAXA_PIS] [numeric](5, 2) NULL DEFAULT (NULL),
	[PIS] [numeric](15, 2) NULL DEFAULT (NULL),
	[TAXA_COFINS] [numeric](5, 2) NULL DEFAULT (NULL),
	[COFINS] [numeric](15, 2) NULL DEFAULT (NULL),
	[TAXA_ACRESCIMO] [numeric](5, 2) NULL DEFAULT (NULL),
	[ACRESCIMO] [numeric](15, 2) NULL DEFAULT (NULL),
	[TOTALIZADOR_PARCIAL] [varchar](10) NULL DEFAULT (NULL),
	[CST] [char](3) NULL DEFAULT (NULL),
	[CANCELADO] [char](1) NULL DEFAULT (NULL),
	[MOVIMENTA_ESTOQUE] [char](1) NULL DEFAULT (NULL),
 CONSTRAINT [PK_ecf_venda_detalhe_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[endereco]    Script Date: 15/04/2017 18:33:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[endereco](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ID_CLIENTE] [bigint] NOT NULL,
	[LOGRADOURO] [varchar](100) NULL,
	[NUMERO] [bigint] NULL,
	[COMPLEMENTO] [varchar](100) NULL,
	[BAIRRO] [varchar](50) NULL,
	[CEP] [varchar](8) NULL,
 CONSTRAINT [PK_endereco_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ficha_tecnica]    Script Date: 15/04/2017 18:33:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ficha_tecnica](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ID_PRODUTO] [bigint] NOT NULL,
	[DESCRICAO] [varchar](50) NULL,
	[ID_PRODUTO_FILHO] [bigint] NULL,
	[QUANTIDADE] [numeric](15, 3) NULL,
 CONSTRAINT [PK_ficha_tecnica_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[nf2_cabecalho]    Script Date: 15/04/2017 18:33:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[nf2_cabecalho](
	[ID] [bigint] IDENTITY(2,1) NOT NULL,
	[ID_CFOP] [bigint] NOT NULL,
	[ID_ECF_FUNCIONARIO] [bigint] NOT NULL,
	[ID_CLIENTE] [bigint] NOT NULL,
	[NUMERO] [varchar](6) NULL DEFAULT (NULL),
	[DATA_HORA_EMISSAO] [datetime] NULL DEFAULT (NULL),
	[SERIE] [char](2) NULL DEFAULT (NULL),
	[SUBSERIE] [char](2) NULL DEFAULT (NULL),
	[TOTAL_PRODUTOS] [numeric](15, 2) NULL DEFAULT (NULL),
	[TOTAL_NF] [numeric](15, 2) NULL DEFAULT (NULL),
	[BASE_ICMS] [numeric](15, 2) NULL DEFAULT (NULL),
	[ICMS] [numeric](15, 2) NULL DEFAULT (NULL),
	[ICMS_OUTRAS] [numeric](15, 2) NULL DEFAULT (NULL),
	[ISSQN] [numeric](15, 2) NULL DEFAULT (NULL),
	[PIS] [numeric](15, 2) NULL DEFAULT (NULL),
	[COFINS] [numeric](15, 2) NULL DEFAULT (NULL),
	[IPI] [numeric](15, 2) NULL DEFAULT (NULL),
	[TAXA_ACRESCIMO] [numeric](5, 2) NULL DEFAULT (NULL),
	[ACRESCIMO] [numeric](15, 2) NULL DEFAULT (NULL),
	[ACRESCIMO_ITENS] [numeric](15, 2) NULL DEFAULT (NULL),
	[TAXA_DESCONTO] [numeric](5, 2) NULL DEFAULT (NULL),
	[DESCONTO] [numeric](15, 2) NULL DEFAULT (NULL),
	[DESCONTO_ITENS] [numeric](15, 2) NULL DEFAULT (NULL),
	[CANCELADA] [char](1) NULL DEFAULT (NULL),
	[SINCRONIZADO] [char](1) NULL DEFAULT (NULL),
 CONSTRAINT [PK_nf2_cabecalho_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[nf2_detalhe]    Script Date: 15/04/2017 18:33:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[nf2_detalhe](
	[ID] [bigint] IDENTITY(3,1) NOT NULL,
	[ID_CFOP] [bigint] NOT NULL,
	[ID_ECF_TRIBUTO_PRODUTO] [bigint] NOT NULL,
	[ID_PRODUTO] [bigint] NOT NULL,
	[ID_NF2_CABECALHO] [bigint] NOT NULL,
	[ITEM] [int] NULL DEFAULT (NULL),
	[QUANTIDADE] [numeric](15, 3) NULL DEFAULT (NULL),
	[VALOR_UNITARIO] [numeric](15, 2) NULL DEFAULT (NULL),
	[VALOR_TOTAL] [numeric](15, 2) NULL DEFAULT (NULL),
	[BASE_ICMS] [numeric](15, 2) NULL DEFAULT (NULL),
	[TAXA_ICMS] [numeric](5, 2) NULL DEFAULT (NULL),
	[ICMS] [numeric](15, 2) NULL DEFAULT (NULL),
	[ICMS_OUTRAS] [numeric](15, 2) NULL DEFAULT (NULL),
	[ICMS_ISENTO] [numeric](15, 2) NULL DEFAULT (NULL),
	[TAXA_DESCONTO] [numeric](5, 2) NULL DEFAULT (NULL),
	[DESCONTO] [numeric](15, 2) NULL DEFAULT (NULL),
	[TAXA_ISSQN] [numeric](5, 2) NULL DEFAULT (NULL),
	[ISSQN] [numeric](15, 2) NULL DEFAULT (NULL),
	[TAXA_PIS] [numeric](5, 2) NULL DEFAULT (NULL),
	[PIS] [numeric](15, 2) NULL DEFAULT (NULL),
	[TAXA_COFINS] [numeric](5, 2) NULL DEFAULT (NULL),
	[COFINS] [numeric](15, 2) NULL DEFAULT (NULL),
	[TAXA_ACRESCIMO] [numeric](5, 2) NULL DEFAULT (NULL),
	[ACRESCIMO] [numeric](15, 2) NULL DEFAULT (NULL),
	[TAXA_IPI] [numeric](5, 2) NULL DEFAULT (NULL),
	[IPI] [numeric](15, 2) NULL DEFAULT (NULL),
	[CANCELADO] [char](1) NULL DEFAULT (NULL),
	[MOVIMENTA_ESTOQUE] [char](1) NULL DEFAULT (NULL),
 CONSTRAINT [PK_nf2_detalhe_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[produto]    Script Date: 15/04/2017 18:33:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[produto](
	[ID] [bigint] IDENTITY(9500,1) NOT NULL,
	[ID_ECF_TRIBUTOS] [bigint] NOT NULL,
	[ID_UNIDADE_PRODUTO] [bigint] NOT NULL,
	[GTIN] [varchar](14) NULL DEFAULT (NULL),
	[CODIGO_INTERNO] [varchar](20) NULL DEFAULT (NULL),
	[NOME] [varchar](100) NULL DEFAULT (NULL),
	[DESCRICAO] [varchar](max) NULL,
	[DESCRICAO_PDV] [varchar](30) NULL DEFAULT (NULL),
	[VALOR_VENDA] [numeric](15, 2) NULL DEFAULT (NULL),
	[QTD_ESTOQUE] [numeric](15, 3) NULL DEFAULT (NULL),
	[ESTOQUE_MIN] [numeric](15, 3) NULL DEFAULT (NULL),
	[ESTOQUE_MAX] [numeric](15, 3) NULL DEFAULT (NULL),
	[IAT] [char](1) NULL DEFAULT (NULL),
	[IPPT] [char](1) NULL DEFAULT (NULL),
	[NCM] [varchar](8) NULL DEFAULT (NULL),
 CONSTRAINT [PK_produto_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[produto_promocao]    Script Date: 15/04/2017 18:33:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[produto_promocao](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ID_PRODUTO] [bigint] NOT NULL,
	[DATA_INICIO] [date] NULL,
	[DATA_FIM] [date] NULL,
	[VALOR] [numeric](15, 2) NULL,
	[QUANTIDADE_EM_PROMOCAO] [numeric](15, 3) NULL,
	[QUANTIDADE_MAXIMA_CLIENTE] [numeric](15, 3) NULL,
 CONSTRAINT [PK_produto_promocao_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[r02]    Script Date: 15/04/2017 18:33:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[r02](
	[ID] [bigint] IDENTITY(12,1) NOT NULL,
	[ID_ECF_CAIXA] [bigint] NOT NULL,
	[ID_OPERADOR] [bigint] NOT NULL,
	[ID_IMPRESSORA] [bigint] NOT NULL,
	[CRZ] [bigint] NULL DEFAULT (NULL),
	[COO] [bigint] NULL DEFAULT (NULL),
	[CRO] [bigint] NULL DEFAULT (NULL),
	[DATA_MOVIMENTO] [date] NULL DEFAULT (NULL),
	[DATA_EMISSAO] [date] NULL DEFAULT (NULL),
	[HORA_EMISSAO] [varchar](8) NULL DEFAULT (NULL),
	[VENDA_BRUTA] [numeric](15, 2) NULL DEFAULT (NULL),
	[GRANDE_TOTAL] [numeric](15, 2) NULL DEFAULT (NULL),
	[SINCRONIZADO] [char](1) NULL DEFAULT (NULL),
 CONSTRAINT [PK_r02_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[r03]    Script Date: 15/04/2017 18:33:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[r03](
	[ID] [bigint] IDENTITY(215,1) NOT NULL,
	[ID_R02] [bigint] NOT NULL,
	[TOTALIZADOR_PARCIAL] [varchar](10) NULL DEFAULT (NULL),
	[VALOR_ACUMULADO] [numeric](15, 2) NULL DEFAULT (NULL),
 CONSTRAINT [PK_r03_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[r06]    Script Date: 15/04/2017 18:33:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[r06](
	[ID] [bigint] IDENTITY(6,1) NOT NULL,
	[ID_ECF_CAIXA] [bigint] NOT NULL,
	[ID_OPERADOR] [bigint] NOT NULL,
	[ID_IMPRESSORA] [bigint] NOT NULL,
	[COO] [bigint] NULL DEFAULT (NULL),
	[GNF] [bigint] NULL DEFAULT (NULL),
	[GRG] [bigint] NULL DEFAULT (NULL),
	[CDC] [bigint] NULL DEFAULT (NULL),
	[DENOMINACAO] [char](2) NULL DEFAULT (NULL),
	[DATA_EMISSAO] [date] NULL DEFAULT (NULL),
	[HORA_EMISSAO] [varchar](8) NULL DEFAULT (NULL),
	[SINCRONIZADO] [char](1) NULL DEFAULT (NULL),
 CONSTRAINT [PK_r06_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[r07]    Script Date: 15/04/2017 18:33:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[r07](
	[ID] [bigint] IDENTITY(155,1) NOT NULL,
	[ID_R06] [bigint] NULL DEFAULT (NULL),
	[ID_R02] [bigint] NULL DEFAULT (NULL),
	[CCF] [int] NULL DEFAULT (NULL),
	[MEIO_PAGAMENTO] [varchar](20) NULL DEFAULT (NULL),
	[VALOR_PAGAMENTO] [numeric](15, 2) NULL DEFAULT (NULL),
	[ESTORNO] [char](1) NULL DEFAULT (NULL),
	[VALOR_ESTORNO] [numeric](15, 2) NULL DEFAULT (NULL),
 CONSTRAINT [PK_r07_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[sintegra_60a]    Script Date: 15/04/2017 18:33:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[sintegra_60a](
	[ID] [bigint] IDENTITY(41,1) NOT NULL,
	[ID_SINTEGRA_60M] [bigint] NOT NULL,
	[SITUACAO_TRIBUTARIA] [varchar](4) NULL DEFAULT (NULL),
	[VALOR] [numeric](15, 2) NULL DEFAULT (NULL),
 CONSTRAINT [PK_sintegra_60a_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[sintegra_60m]    Script Date: 15/04/2017 18:33:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[sintegra_60m](
	[ID] [bigint] IDENTITY(14,1) NOT NULL,
	[DATA_EMISSAO] [date] NULL DEFAULT (NULL),
	[NUMERO_SERIE_ECF] [varchar](20) NULL DEFAULT (NULL),
	[NUMERO_EQUIPAMENTO] [bigint] NULL DEFAULT (NULL),
	[MODELO_DOCUMENTO_FISCAL] [char](2) NULL DEFAULT (NULL),
	[COO_INICIAL] [bigint] NULL DEFAULT (NULL),
	[COO_FINAL] [bigint] NULL DEFAULT (NULL),
	[CRZ] [bigint] NULL DEFAULT (NULL),
	[CRO] [bigint] NULL DEFAULT (NULL),
	[VALOR_VENDA_BRUTA] [numeric](15, 2) NULL DEFAULT (NULL),
	[VALOR_GRANDE_TOTAL] [numeric](15, 2) NULL DEFAULT (NULL),
 CONSTRAINT [PK_sintegra_60m_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[situacao_cli]    Script Date: 15/04/2017 18:33:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[situacao_cli](
	[ID] [bigint] IDENTITY(2,1) NOT NULL,
	[NOME] [varchar](20) NULL DEFAULT (NULL),
	[DESCRICAO] [varchar](max) NULL,
 CONSTRAINT [PK_situacao_cli_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tipo_email]    Script Date: 15/04/2017 18:33:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tipo_email](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NOME] [varchar](20) NULL,
	[DESCRICAO] [varchar](max) NULL,
 CONSTRAINT [PK_tipo_email_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tipo_telefone]    Script Date: 15/04/2017 18:33:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tipo_telefone](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NOME] [varchar](20) NULL,
	[DESCRICAO] [varchar](max) NULL,
 CONSTRAINT [PK_tipo_telefone_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[unidade_produto]    Script Date: 15/04/2017 18:33:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[unidade_produto](
	[ID] [bigint] IDENTITY(2,1) NOT NULL,
	[NOME] [varchar](10) NULL DEFAULT (NULL),
	[DESCRICAO] [varchar](max) NULL,
 CONSTRAINT [PK_unidade_produto_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[contato] ADD  DEFAULT (NULL) FOR [NOME]
GO
ALTER TABLE [dbo].[contato_email] ADD  DEFAULT (NULL) FOR [EMAIL]
GO
ALTER TABLE [dbo].[contato_telefone] ADD  DEFAULT (NULL) FOR [TELEFONE]
GO
ALTER TABLE [dbo].[ecf_cheque_cliente] ADD  DEFAULT (NULL) FOR [NUMERO_CHEQUE]
GO
ALTER TABLE [dbo].[ecf_cheque_cliente] ADD  DEFAULT (NULL) FOR [DATA_CHEQUE]
GO
ALTER TABLE [dbo].[ecf_cheque_cliente] ADD  DEFAULT (NULL) FOR [VALOR_CHEQUE]
GO
ALTER TABLE [dbo].[ecf_documentos_emitidos] ADD  DEFAULT (NULL) FOR [DATA_HORA_EMISSAO]
GO
ALTER TABLE [dbo].[ecf_documentos_emitidos] ADD  DEFAULT (NULL) FOR [TIPO]
GO
ALTER TABLE [dbo].[ecf_documentos_emitidos] ADD  DEFAULT (NULL) FOR [COO]
GO
ALTER TABLE [dbo].[ecf_documentos_emitidos] ADD  DEFAULT (NULL) FOR [SINCRONIZADO]
GO
ALTER TABLE [dbo].[ecf_recebimento_nao_fiscal] ADD  DEFAULT (NULL) FOR [DATA_RECBTO]
GO
ALTER TABLE [dbo].[ecf_recebimento_nao_fiscal] ADD  DEFAULT (NULL) FOR [DESCRICAO]
GO
ALTER TABLE [dbo].[ecf_recebimento_nao_fiscal] ADD  DEFAULT (NULL) FOR [VALOR]
GO
ALTER TABLE [dbo].[endereco] ADD  DEFAULT (NULL) FOR [LOGRADOURO]
GO
ALTER TABLE [dbo].[endereco] ADD  DEFAULT (NULL) FOR [NUMERO]
GO
ALTER TABLE [dbo].[endereco] ADD  DEFAULT (NULL) FOR [COMPLEMENTO]
GO
ALTER TABLE [dbo].[endereco] ADD  DEFAULT (NULL) FOR [BAIRRO]
GO
ALTER TABLE [dbo].[endereco] ADD  DEFAULT (NULL) FOR [CEP]
GO
ALTER TABLE [dbo].[ficha_tecnica] ADD  DEFAULT (NULL) FOR [DESCRICAO]
GO
ALTER TABLE [dbo].[ficha_tecnica] ADD  DEFAULT (NULL) FOR [ID_PRODUTO_FILHO]
GO
ALTER TABLE [dbo].[ficha_tecnica] ADD  DEFAULT (NULL) FOR [QUANTIDADE]
GO
ALTER TABLE [dbo].[produto_promocao] ADD  DEFAULT (NULL) FOR [DATA_INICIO]
GO
ALTER TABLE [dbo].[produto_promocao] ADD  DEFAULT (NULL) FOR [DATA_FIM]
GO
ALTER TABLE [dbo].[produto_promocao] ADD  DEFAULT (NULL) FOR [VALOR]
GO
ALTER TABLE [dbo].[produto_promocao] ADD  DEFAULT (NULL) FOR [QUANTIDADE_EM_PROMOCAO]
GO
ALTER TABLE [dbo].[produto_promocao] ADD  DEFAULT (NULL) FOR [QUANTIDADE_MAXIMA_CLIENTE]
GO
ALTER TABLE [dbo].[tipo_email] ADD  DEFAULT (NULL) FOR [NOME]
GO
ALTER TABLE [dbo].[tipo_telefone] ADD  DEFAULT (NULL) FOR [NOME]
GO
ALTER TABLE [dbo].[cliente]  WITH NOCHECK ADD  CONSTRAINT [cliente$cliente_ibfk_1] FOREIGN KEY([ID_SITUACAO_CLI])
REFERENCES [dbo].[situacao_cli] ([ID])
GO
ALTER TABLE [dbo].[cliente] CHECK CONSTRAINT [cliente$cliente_ibfk_1]
GO
ALTER TABLE [dbo].[contato]  WITH NOCHECK ADD  CONSTRAINT [contato$contato_ibfk_1] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[cliente] ([ID])
GO
ALTER TABLE [dbo].[contato] CHECK CONSTRAINT [contato$contato_ibfk_1]
GO
ALTER TABLE [dbo].[contato_email]  WITH NOCHECK ADD  CONSTRAINT [contato_email$contato_email_ibfk_1] FOREIGN KEY([ID_TIPO_EMAIL])
REFERENCES [dbo].[tipo_email] ([ID])
GO
ALTER TABLE [dbo].[contato_email] CHECK CONSTRAINT [contato_email$contato_email_ibfk_1]
GO
ALTER TABLE [dbo].[contato_email]  WITH NOCHECK ADD  CONSTRAINT [contato_email$contato_email_ibfk_2] FOREIGN KEY([ID_CONTATO])
REFERENCES [dbo].[contato] ([ID])
GO
ALTER TABLE [dbo].[contato_email] CHECK CONSTRAINT [contato_email$contato_email_ibfk_2]
GO
ALTER TABLE [dbo].[contato_telefone]  WITH NOCHECK ADD  CONSTRAINT [contato_telefone$contato_telefone_ibfk_1] FOREIGN KEY([ID_TIPO_TELEFONE])
REFERENCES [dbo].[tipo_telefone] ([ID])
GO
ALTER TABLE [dbo].[contato_telefone] CHECK CONSTRAINT [contato_telefone$contato_telefone_ibfk_1]
GO
ALTER TABLE [dbo].[contato_telefone]  WITH NOCHECK ADD  CONSTRAINT [contato_telefone$contato_telefone_ibfk_2] FOREIGN KEY([ID_CONTATO])
REFERENCES [dbo].[contato] ([ID])
GO
ALTER TABLE [dbo].[contato_telefone] CHECK CONSTRAINT [contato_telefone$contato_telefone_ibfk_2]
GO
ALTER TABLE [dbo].[ecf_cheque_cliente]  WITH NOCHECK ADD  CONSTRAINT [ecf_cheque_cliente$ecf_cheque_cliente_ibfk_1] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[cliente] ([ID])
GO
ALTER TABLE [dbo].[ecf_cheque_cliente] CHECK CONSTRAINT [ecf_cheque_cliente$ecf_cheque_cliente_ibfk_1]
GO
ALTER TABLE [dbo].[ecf_cheque_cliente]  WITH NOCHECK ADD  CONSTRAINT [ecf_cheque_cliente$ecf_cheque_cliente_ibfk_2] FOREIGN KEY([ID_BANCO])
REFERENCES [dbo].[banco] ([ID])
GO
ALTER TABLE [dbo].[ecf_cheque_cliente] CHECK CONSTRAINT [ecf_cheque_cliente$ecf_cheque_cliente_ibfk_2]
GO
ALTER TABLE [dbo].[ecf_configuracao]  WITH NOCHECK ADD  CONSTRAINT [ecf_configuracao$ecf_configuracao_ibfk_1] FOREIGN KEY([ID_ECF_EMPRESA])
REFERENCES [dbo].[ecf_empresa] ([ID])
GO
ALTER TABLE [dbo].[ecf_configuracao] CHECK CONSTRAINT [ecf_configuracao$ecf_configuracao_ibfk_1]
GO
ALTER TABLE [dbo].[ecf_configuracao]  WITH NOCHECK ADD  CONSTRAINT [ecf_configuracao$ecf_configuracao_ibfk_2] FOREIGN KEY([ID_ECF_CAIXA])
REFERENCES [dbo].[ecf_caixa] ([ID])
GO
ALTER TABLE [dbo].[ecf_configuracao] CHECK CONSTRAINT [ecf_configuracao$ecf_configuracao_ibfk_2]
GO
ALTER TABLE [dbo].[ecf_configuracao]  WITH NOCHECK ADD  CONSTRAINT [ecf_configuracao$ecf_configuracao_ibfk_3] FOREIGN KEY([ID_ECF_RESOLUCAO])
REFERENCES [dbo].[ecf_resolucao] ([ID])
GO
ALTER TABLE [dbo].[ecf_configuracao] CHECK CONSTRAINT [ecf_configuracao$ecf_configuracao_ibfk_3]
GO
ALTER TABLE [dbo].[ecf_contador]  WITH NOCHECK ADD  CONSTRAINT [ecf_contador$ecf_contador_ibfk_1] FOREIGN KEY([ID_ECF_EMPRESA])
REFERENCES [dbo].[ecf_empresa] ([ID])
GO
ALTER TABLE [dbo].[ecf_contador] CHECK CONSTRAINT [ecf_contador$ecf_contador_ibfk_1]
GO
ALTER TABLE [dbo].[ecf_dav_detalhe]  WITH NOCHECK ADD  CONSTRAINT [ecf_dav_detalhe$ecf_dav_detalhe_ibfk_1] FOREIGN KEY([ID_ECF_DAV])
REFERENCES [dbo].[ecf_dav_cabecalho] ([ID])
GO
ALTER TABLE [dbo].[ecf_dav_detalhe] CHECK CONSTRAINT [ecf_dav_detalhe$ecf_dav_detalhe_ibfk_1]
GO
ALTER TABLE [dbo].[ecf_dav_detalhe]  WITH NOCHECK ADD  CONSTRAINT [ecf_dav_detalhe$ecf_dav_detalhe_ibfk_2] FOREIGN KEY([ID_PRODUTO])
REFERENCES [dbo].[produto] ([ID])
GO
ALTER TABLE [dbo].[ecf_dav_detalhe] CHECK CONSTRAINT [ecf_dav_detalhe$ecf_dav_detalhe_ibfk_2]
GO
ALTER TABLE [dbo].[ecf_documentos_emitidos]  WITH NOCHECK ADD  CONSTRAINT [ecf_documentos_emitidos$ecf_documentos_emitidos_ibfk_1] FOREIGN KEY([ID_ECF_MOVIMENTO])
REFERENCES [dbo].[ecf_movimento] ([ID])
GO
ALTER TABLE [dbo].[ecf_documentos_emitidos] CHECK CONSTRAINT [ecf_documentos_emitidos$ecf_documentos_emitidos_ibfk_1]
GO
ALTER TABLE [dbo].[ecf_empresa]  WITH NOCHECK ADD  CONSTRAINT [ecf_empresa$ecf_empresa_ibfk_1] FOREIGN KEY([ID_EMPRESA])
REFERENCES [dbo].[ecf_empresa] ([ID])
GO
ALTER TABLE [dbo].[ecf_empresa] CHECK CONSTRAINT [ecf_empresa$ecf_empresa_ibfk_1]
GO
ALTER TABLE [dbo].[ecf_movimento]  WITH NOCHECK ADD  CONSTRAINT [ecf_movimento$ecf_movimento_ibfk_1] FOREIGN KEY([ID_ECF_CAIXA])
REFERENCES [dbo].[ecf_caixa] ([ID])
GO
ALTER TABLE [dbo].[ecf_movimento] CHECK CONSTRAINT [ecf_movimento$ecf_movimento_ibfk_1]
GO
ALTER TABLE [dbo].[ecf_movimento]  WITH NOCHECK ADD  CONSTRAINT [ecf_movimento$ecf_movimento_ibfk_2] FOREIGN KEY([ID_ECF_OPERADOR])
REFERENCES [dbo].[ecf_operador] ([ID])
GO
ALTER TABLE [dbo].[ecf_movimento] CHECK CONSTRAINT [ecf_movimento$ecf_movimento_ibfk_2]
GO
ALTER TABLE [dbo].[ecf_movimento]  WITH NOCHECK ADD  CONSTRAINT [ecf_movimento$ecf_movimento_ibfk_3] FOREIGN KEY([ID_ECF_TURNO])
REFERENCES [dbo].[ecf_turno] ([ID])
GO
ALTER TABLE [dbo].[ecf_movimento] CHECK CONSTRAINT [ecf_movimento$ecf_movimento_ibfk_3]
GO
ALTER TABLE [dbo].[ecf_movimento]  WITH NOCHECK ADD  CONSTRAINT [ecf_movimento$ecf_movimento_ibfk_4] FOREIGN KEY([ID_ECF_IMPRESSORA])
REFERENCES [dbo].[ecf_impressora] ([ID])
GO
ALTER TABLE [dbo].[ecf_movimento] CHECK CONSTRAINT [ecf_movimento$ecf_movimento_ibfk_4]
GO
ALTER TABLE [dbo].[ecf_operador]  WITH NOCHECK ADD  CONSTRAINT [ecf_operador$ecf_operador_ibfk_1] FOREIGN KEY([ID_ECF_FUNCIONARIO])
REFERENCES [dbo].[ecf_funcionario] ([ID])
GO
ALTER TABLE [dbo].[ecf_operador] CHECK CONSTRAINT [ecf_operador$ecf_operador_ibfk_1]
GO
ALTER TABLE [dbo].[ecf_posicao_componentes]  WITH NOCHECK ADD  CONSTRAINT [ecf_posicao_componentes$ecf_posicao_componentes_ibfk_1] FOREIGN KEY([ID_ECF_RESOLUCAO])
REFERENCES [dbo].[ecf_resolucao] ([ID])
GO
ALTER TABLE [dbo].[ecf_posicao_componentes] CHECK CONSTRAINT [ecf_posicao_componentes$ecf_posicao_componentes_ibfk_1]
GO
ALTER TABLE [dbo].[ecf_pre_venda_detalhe]  WITH NOCHECK ADD  CONSTRAINT [ecf_pre_venda_detalhe$ecf_pre_venda_detalhe_ibfk_1] FOREIGN KEY([ID_ECF_PRE_VENDA_CABECALHO])
REFERENCES [dbo].[ecf_pre_venda_cabecalho] ([ID])
GO
ALTER TABLE [dbo].[ecf_pre_venda_detalhe] CHECK CONSTRAINT [ecf_pre_venda_detalhe$ecf_pre_venda_detalhe_ibfk_1]
GO
ALTER TABLE [dbo].[ecf_pre_venda_detalhe]  WITH NOCHECK ADD  CONSTRAINT [ecf_pre_venda_detalhe$ecf_pre_venda_detalhe_ibfk_2] FOREIGN KEY([ID_PRODUTO])
REFERENCES [dbo].[produto] ([ID])
GO
ALTER TABLE [dbo].[ecf_pre_venda_detalhe] CHECK CONSTRAINT [ecf_pre_venda_detalhe$ecf_pre_venda_detalhe_ibfk_2]
GO
ALTER TABLE [dbo].[ecf_recebimento_nao_fiscal]  WITH NOCHECK ADD  CONSTRAINT [ecf_recebimento_nao_fiscal$ecf_recebimento_nao_fiscal_ibfk_1] FOREIGN KEY([ID_ECF_MOVIMENTO])
REFERENCES [dbo].[ecf_movimento] ([ID])
GO
ALTER TABLE [dbo].[ecf_recebimento_nao_fiscal] CHECK CONSTRAINT [ecf_recebimento_nao_fiscal$ecf_recebimento_nao_fiscal_ibfk_1]
GO
ALTER TABLE [dbo].[ecf_sangria]  WITH NOCHECK ADD  CONSTRAINT [ecf_sangria$ecf_sangria_ibfk_1] FOREIGN KEY([ID_ECF_MOVIMENTO])
REFERENCES [dbo].[ecf_movimento] ([ID])
GO
ALTER TABLE [dbo].[ecf_sangria] CHECK CONSTRAINT [ecf_sangria$ecf_sangria_ibfk_1]
GO
ALTER TABLE [dbo].[ecf_suprimento]  WITH NOCHECK ADD  CONSTRAINT [ecf_suprimento$ecf_suprimento_ibfk_1] FOREIGN KEY([ID_ECF_MOVIMENTO])
REFERENCES [dbo].[ecf_movimento] ([ID])
GO
ALTER TABLE [dbo].[ecf_suprimento] CHECK CONSTRAINT [ecf_suprimento$ecf_suprimento_ibfk_1]
GO
ALTER TABLE [dbo].[ecf_total_tipo_pgto]  WITH NOCHECK ADD  CONSTRAINT [ecf_total_tipo_pgto$ecf_total_tipo_pgto_ibfk_1] FOREIGN KEY([ID_ECF_TIPO_PAGAMENTO])
REFERENCES [dbo].[ecf_tipo_pagamento] ([ID])
GO
ALTER TABLE [dbo].[ecf_total_tipo_pgto] CHECK CONSTRAINT [ecf_total_tipo_pgto$ecf_total_tipo_pgto_ibfk_1]
GO
ALTER TABLE [dbo].[ecf_total_tipo_pgto]  WITH NOCHECK ADD  CONSTRAINT [ecf_total_tipo_pgto$ecf_total_tipo_pgto_ibfk_2] FOREIGN KEY([ID_ECF_VENDA_CABECALHO])
REFERENCES [dbo].[ecf_venda_cabecalho] ([ID])
GO
ALTER TABLE [dbo].[ecf_total_tipo_pgto] CHECK CONSTRAINT [ecf_total_tipo_pgto$ecf_total_tipo_pgto_ibfk_2]
GO
ALTER TABLE [dbo].[ecf_venda_cabecalho]  WITH NOCHECK ADD  CONSTRAINT [ecf_venda_cabecalho$ecf_venda_cabecalho_ibfk_1] FOREIGN KEY([ID_ECF_MOVIMENTO])
REFERENCES [dbo].[ecf_movimento] ([ID])
GO
ALTER TABLE [dbo].[ecf_venda_cabecalho] CHECK CONSTRAINT [ecf_venda_cabecalho$ecf_venda_cabecalho_ibfk_1]
GO
ALTER TABLE [dbo].[ecf_venda_cabecalho]  WITH NOCHECK ADD  CONSTRAINT [ecf_venda_cabecalho$ecf_venda_cabecalho_ibfk_2] FOREIGN KEY([ID_ECF_FUNCIONARIO])
REFERENCES [dbo].[ecf_funcionario] ([ID])
GO
ALTER TABLE [dbo].[ecf_venda_cabecalho] CHECK CONSTRAINT [ecf_venda_cabecalho$ecf_venda_cabecalho_ibfk_2]
GO
ALTER TABLE [dbo].[ecf_venda_cabecalho]  WITH NOCHECK ADD  CONSTRAINT [ecf_venda_cabecalho$ecf_venda_cabecalho_ibfk_3] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[cliente] ([ID])
GO
ALTER TABLE [dbo].[ecf_venda_cabecalho] CHECK CONSTRAINT [ecf_venda_cabecalho$ecf_venda_cabecalho_ibfk_3]
GO
ALTER TABLE [dbo].[ecf_venda_cabecalho]  WITH NOCHECK ADD  CONSTRAINT [ecf_venda_cabecalho$ecf_venda_cabecalho_ibfk_4] FOREIGN KEY([ID_ECF_PRE_VENDA_CABECALHO])
REFERENCES [dbo].[ecf_pre_venda_cabecalho] ([ID])
GO
ALTER TABLE [dbo].[ecf_venda_cabecalho] CHECK CONSTRAINT [ecf_venda_cabecalho$ecf_venda_cabecalho_ibfk_4]
GO
ALTER TABLE [dbo].[ecf_venda_cabecalho]  WITH NOCHECK ADD  CONSTRAINT [ecf_venda_cabecalho$ecf_venda_cabecalho_ibfk_5] FOREIGN KEY([ID_ECF_DAV])
REFERENCES [dbo].[ecf_dav_cabecalho] ([ID])
GO
ALTER TABLE [dbo].[ecf_venda_cabecalho] CHECK CONSTRAINT [ecf_venda_cabecalho$ecf_venda_cabecalho_ibfk_5]
GO
ALTER TABLE [dbo].[ecf_venda_cabecalho]  WITH NOCHECK ADD  CONSTRAINT [ecf_venda_cabecalho$ecf_venda_cabecalho_ibfk_6] FOREIGN KEY([ID_CFOP])
REFERENCES [dbo].[cfop] ([ID])
GO
ALTER TABLE [dbo].[ecf_venda_cabecalho] CHECK CONSTRAINT [ecf_venda_cabecalho$ecf_venda_cabecalho_ibfk_6]
GO
ALTER TABLE [dbo].[ecf_venda_detalhe]  WITH NOCHECK ADD  CONSTRAINT [ecf_venda_detalhe$ecf_venda_detalhe_ibfk_1] FOREIGN KEY([ID_ECF_VENDA_CABECALHO])
REFERENCES [dbo].[ecf_venda_cabecalho] ([ID])
GO
ALTER TABLE [dbo].[ecf_venda_detalhe] CHECK CONSTRAINT [ecf_venda_detalhe$ecf_venda_detalhe_ibfk_1]
GO
ALTER TABLE [dbo].[ecf_venda_detalhe]  WITH NOCHECK ADD  CONSTRAINT [ecf_venda_detalhe$ecf_venda_detalhe_ibfk_2] FOREIGN KEY([ID_ECF_PRODUTO])
REFERENCES [dbo].[produto] ([ID])
GO
ALTER TABLE [dbo].[ecf_venda_detalhe] CHECK CONSTRAINT [ecf_venda_detalhe$ecf_venda_detalhe_ibfk_2]
GO
ALTER TABLE [dbo].[ecf_venda_detalhe]  WITH NOCHECK ADD  CONSTRAINT [ecf_venda_detalhe$ecf_venda_detalhe_ibfk_3] FOREIGN KEY([ID_ECF_TRIBUTO_PRODUTO])
REFERENCES [dbo].[ecf_tributo_produto] ([ID])
GO
ALTER TABLE [dbo].[ecf_venda_detalhe] CHECK CONSTRAINT [ecf_venda_detalhe$ecf_venda_detalhe_ibfk_3]
GO
ALTER TABLE [dbo].[ecf_venda_detalhe]  WITH NOCHECK ADD  CONSTRAINT [ecf_venda_detalhe$ecf_venda_detalhe_ibfk_4] FOREIGN KEY([ID_CFOP])
REFERENCES [dbo].[cfop] ([ID])
GO
ALTER TABLE [dbo].[ecf_venda_detalhe] CHECK CONSTRAINT [ecf_venda_detalhe$ecf_venda_detalhe_ibfk_4]
GO
ALTER TABLE [dbo].[endereco]  WITH NOCHECK ADD  CONSTRAINT [endereco$endereco_ibfk_1] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[cliente] ([ID])
GO
ALTER TABLE [dbo].[endereco] CHECK CONSTRAINT [endereco$endereco_ibfk_1]
GO
ALTER TABLE [dbo].[ficha_tecnica]  WITH NOCHECK ADD  CONSTRAINT [ficha_tecnica$ficha_tecnica_ibfk_1] FOREIGN KEY([ID_PRODUTO])
REFERENCES [dbo].[produto] ([ID])
GO
ALTER TABLE [dbo].[ficha_tecnica] CHECK CONSTRAINT [ficha_tecnica$ficha_tecnica_ibfk_1]
GO
ALTER TABLE [dbo].[nf2_cabecalho]  WITH NOCHECK ADD  CONSTRAINT [nf2_cabecalho$nf2_cabecalho_ibfk_1] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[cliente] ([ID])
GO
ALTER TABLE [dbo].[nf2_cabecalho] CHECK CONSTRAINT [nf2_cabecalho$nf2_cabecalho_ibfk_1]
GO
ALTER TABLE [dbo].[nf2_cabecalho]  WITH NOCHECK ADD  CONSTRAINT [nf2_cabecalho$nf2_cabecalho_ibfk_2] FOREIGN KEY([ID_ECF_FUNCIONARIO])
REFERENCES [dbo].[ecf_funcionario] ([ID])
GO
ALTER TABLE [dbo].[nf2_cabecalho] CHECK CONSTRAINT [nf2_cabecalho$nf2_cabecalho_ibfk_2]
GO
ALTER TABLE [dbo].[nf2_cabecalho]  WITH NOCHECK ADD  CONSTRAINT [nf2_cabecalho$nf2_cabecalho_ibfk_3] FOREIGN KEY([ID_CFOP])
REFERENCES [dbo].[cfop] ([ID])
GO
ALTER TABLE [dbo].[nf2_cabecalho] CHECK CONSTRAINT [nf2_cabecalho$nf2_cabecalho_ibfk_3]
GO
ALTER TABLE [dbo].[nf2_detalhe]  WITH NOCHECK ADD  CONSTRAINT [nf2_detalhe$nf2_detalhe_ibfk_1] FOREIGN KEY([ID_NF2_CABECALHO])
REFERENCES [dbo].[nf2_cabecalho] ([ID])
GO
ALTER TABLE [dbo].[nf2_detalhe] CHECK CONSTRAINT [nf2_detalhe$nf2_detalhe_ibfk_1]
GO
ALTER TABLE [dbo].[nf2_detalhe]  WITH NOCHECK ADD  CONSTRAINT [nf2_detalhe$nf2_detalhe_ibfk_2] FOREIGN KEY([ID_PRODUTO])
REFERENCES [dbo].[produto] ([ID])
GO
ALTER TABLE [dbo].[nf2_detalhe] CHECK CONSTRAINT [nf2_detalhe$nf2_detalhe_ibfk_2]
GO
ALTER TABLE [dbo].[nf2_detalhe]  WITH NOCHECK ADD  CONSTRAINT [nf2_detalhe$nf2_detalhe_ibfk_3] FOREIGN KEY([ID_ECF_TRIBUTO_PRODUTO])
REFERENCES [dbo].[ecf_tributo_produto] ([ID])
GO
ALTER TABLE [dbo].[nf2_detalhe] CHECK CONSTRAINT [nf2_detalhe$nf2_detalhe_ibfk_3]
GO
ALTER TABLE [dbo].[nf2_detalhe]  WITH NOCHECK ADD  CONSTRAINT [nf2_detalhe$nf2_detalhe_ibfk_4] FOREIGN KEY([ID_CFOP])
REFERENCES [dbo].[cfop] ([ID])
GO
ALTER TABLE [dbo].[nf2_detalhe] CHECK CONSTRAINT [nf2_detalhe$nf2_detalhe_ibfk_4]
GO
ALTER TABLE [dbo].[produto]  WITH NOCHECK ADD  CONSTRAINT [produto$produto_ibfk_1] FOREIGN KEY([ID_UNIDADE_PRODUTO])
REFERENCES [dbo].[unidade_produto] ([ID])
GO
ALTER TABLE [dbo].[produto] CHECK CONSTRAINT [produto$produto_ibfk_1]
GO
ALTER TABLE [dbo].[produto]  WITH NOCHECK ADD  CONSTRAINT [produto$produto_ibfk_2] FOREIGN KEY([ID_ECF_TRIBUTOS])
REFERENCES [dbo].[ecf_tributo_produto] ([ID])
GO
ALTER TABLE [dbo].[produto] CHECK CONSTRAINT [produto$produto_ibfk_2]
GO
ALTER TABLE [dbo].[produto_promocao]  WITH NOCHECK ADD  CONSTRAINT [produto_promocao$produto_promocao_ibfk_1] FOREIGN KEY([ID_PRODUTO])
REFERENCES [dbo].[produto] ([ID])
GO
ALTER TABLE [dbo].[produto_promocao] CHECK CONSTRAINT [produto_promocao$produto_promocao_ibfk_1]
GO
ALTER TABLE [dbo].[r02]  WITH NOCHECK ADD  CONSTRAINT [r02$r02_ibfk_1] FOREIGN KEY([ID_ECF_CAIXA])
REFERENCES [dbo].[ecf_caixa] ([ID])
GO
ALTER TABLE [dbo].[r02] CHECK CONSTRAINT [r02$r02_ibfk_1]
GO
ALTER TABLE [dbo].[r03]  WITH NOCHECK ADD  CONSTRAINT [r03$r03_ibfk_1] FOREIGN KEY([ID_R02])
REFERENCES [dbo].[r02] ([ID])
GO
ALTER TABLE [dbo].[r03] CHECK CONSTRAINT [r03$r03_ibfk_1]
GO
ALTER TABLE [dbo].[r06]  WITH NOCHECK ADD  CONSTRAINT [r06$r06_ibfk_1] FOREIGN KEY([ID_ECF_CAIXA])
REFERENCES [dbo].[ecf_caixa] ([ID])
GO
ALTER TABLE [dbo].[r06] CHECK CONSTRAINT [r06$r06_ibfk_1]
GO
ALTER TABLE [dbo].[r07]  WITH NOCHECK ADD  CONSTRAINT [r07$r07_ibfk_1] FOREIGN KEY([ID_R02])
REFERENCES [dbo].[r02] ([ID])
GO
ALTER TABLE [dbo].[r07] CHECK CONSTRAINT [r07$r07_ibfk_1]
GO
ALTER TABLE [dbo].[r07]  WITH NOCHECK ADD  CONSTRAINT [r07$r07_ibfk_2] FOREIGN KEY([ID_R06])
REFERENCES [dbo].[r06] ([ID])
GO
ALTER TABLE [dbo].[r07] CHECK CONSTRAINT [r07$r07_ibfk_2]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N't2tipafecf.banco' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'banco'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N't2tipafecf.cfop' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cfop'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N't2tipafecf.cliente' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cliente'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N't2tipafecf.contato' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'contato'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N't2tipafecf.contato_email' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'contato_email'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N't2tipafecf.contato_telefone' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'contato_telefone'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N't2tipafecf.ecf_caixa' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ecf_caixa'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N't2tipafecf.ecf_cheque_cliente' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ecf_cheque_cliente'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N't2tipafecf.ecf_configuracao' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ecf_configuracao'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N't2tipafecf.ecf_contador' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ecf_contador'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N't2tipafecf.ecf_dav_cabecalho' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ecf_dav_cabecalho'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N't2tipafecf.ecf_dav_detalhe' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ecf_dav_detalhe'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N't2tipafecf.ecf_documentos_emitidos' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ecf_documentos_emitidos'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N't2tipafecf.ecf_empresa' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ecf_empresa'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N't2tipafecf.ecf_funcionario' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ecf_funcionario'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N't2tipafecf.ecf_impressora' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ecf_impressora'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N't2tipafecf.ecf_movimento' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ecf_movimento'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N't2tipafecf.ecf_operador' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ecf_operador'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N't2tipafecf.ecf_posicao_componentes' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ecf_posicao_componentes'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N't2tipafecf.ecf_pre_venda_cabecalho' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ecf_pre_venda_cabecalho'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N't2tipafecf.ecf_pre_venda_detalhe' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ecf_pre_venda_detalhe'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N't2tipafecf.ecf_recebimento_nao_fiscal' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ecf_recebimento_nao_fiscal'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N't2tipafecf.ecf_resolucao' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ecf_resolucao'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N't2tipafecf.ecf_sangria' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ecf_sangria'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N't2tipafecf.ecf_suprimento' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ecf_suprimento'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N't2tipafecf.ecf_tipo_pagamento' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ecf_tipo_pagamento'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N't2tipafecf.ecf_total_tipo_pgto' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ecf_total_tipo_pgto'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N't2tipafecf.ecf_tributo_produto' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ecf_tributo_produto'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N't2tipafecf.ecf_turno' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ecf_turno'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N't2tipafecf.ecf_venda_cabecalho' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ecf_venda_cabecalho'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N't2tipafecf.ecf_venda_detalhe' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ecf_venda_detalhe'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N't2tipafecf.endereco' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'endereco'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N't2tipafecf.ficha_tecnica' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ficha_tecnica'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N't2tipafecf.nf2_cabecalho' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'nf2_cabecalho'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N't2tipafecf.nf2_detalhe' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'nf2_detalhe'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N't2tipafecf.produto' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'produto'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N't2tipafecf.produto_promocao' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'produto_promocao'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N't2tipafecf.r02' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'r02'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N't2tipafecf.r03' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'r03'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N't2tipafecf.r06' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'r06'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N't2tipafecf.r07' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'r07'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N't2tipafecf.sintegra_60a' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'sintegra_60a'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N't2tipafecf.sintegra_60m' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'sintegra_60m'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N't2tipafecf.situacao_cli' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'situacao_cli'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N't2tipafecf.tipo_email' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tipo_email'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N't2tipafecf.tipo_telefone' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tipo_telefone'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N't2tipafecf.unidade_produto' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'unidade_produto'
GO
